@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@400;500&display=swap");

:root {
  --first: #194833;
  --second: #ffcf75;
  --third: #fff0bc;
  --fourth: #eef66c;
  --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: capitalize;
  outline: none;
  border: none;
}
html {
  overflow-x: hidden;
}
#site-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: var(--second);
  padding: 0.3rem 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: var(--box-shadow);
}

header .logo {
  color: black;
  font-size: 2.5rem;
  font-weight: bolder;
}

header .navbar a {
  font-size: 1.7rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  text-decoration: none;
  color: var(--first);
}
header .navbar a.active,
header .navbar a:hover {
  color: #fff;
  background: var(--first);
}

header .icons i,
header .icons a {
  cursor: pointer;
  margin-left: 0.5rem;
  height: 3.5rem;
  line-height: 3.5rem;
  width: 3.5rem;
  text-align: center;
  font-size: 1.7rem;
  color: var(--first);
  text-decoration: none;
  border-radius: 50%;
  background: #eee;
}

header .icons i:hover,
header .icons a:hover {
  color: #fff;
  background: var(--first);
  transition: all 0.4s linear;
  transform: rotate(360deg);
}
header .icons #menu-bars {
  display: none;
}
@-webkit-keyframes slideRight {
	from {right:0%;}
	to {right:-25%;}
}

/* Responsive design */
@media (max-width:1024px) {
	#menu {
    left:-50%;
    width:50%;
  }
	#menu-burger.clicked {
    position:fixed;
  }

	/* Animations pour le menu slide */
	@keyframes slideRight {
		from {left:-50%;}
		to {left:0%;}
	}
	@-webkit-keyframes slideRight {
		from {left:-50%;}
		to {left:0%;}
	}
	@keyframes slideLeft {
		from {left:0%;}
		to {left:-50%;}
	}
	@-webkit-keyframes slideLeft {
		from {left:0%;}
		to {left:-50%;}
	}
}
@media (max-width:600px) {
	#menu-burger {top:1em; right:2em; z-index:9999;}
	#menu {left:-100%; width:100%;}

	/* Animations pour le menu slide */
	@keyframes slideRight {
		from {left:-100%;}
		to {left:0%;}
	}
	@-webkit-keyframes slideRight {
		from {left:-100%;}
		to {left:0%;}
	}
	@keyframes slideLeft {
		from {left:0%;}
		to {left:-100%;}
	}
	@-webkit-keyframes slideLeft {
		from {left:0%;}
		to {left:-100%;}
	}
}


/************ FIN NAVBAR n°2 *************/
#home {
  background-color: var(--first);
  color: white;
}
.home-introduction h1 {
  font-size: 56px;
  color: var(--fourth);
  font-family: "Archivo", sans-serif;
  font-weight: 800;
}
.home-introduction p {
  font-size: 20px;
}
.search-bar {
  margin-top: 20px;
}
.home-introduction input,
button {
  width: 75%;
  border: none;
  border-right: 0px;
  font-size: 18px;
  padding: 12px;
  background: white;
  color: black;
}
.home-introduction .search-bar {
  width: 540px;
  height: auto;
}
.home-introduction input {
  border-radius: 3% 0 0 3%;
}

.home-introduction button {
  width: 25%;
  background: var(--fourth);
  color: black;
  float: right;
  border-left: 0px;
  border-radius: 0 3% 3% 0;
  cursor: pointer;
  padding-bottom: 15px;
}
.home-introduction button:hover {
  opacity: 0.8;
}
.home-introduction input:hover {
  opacity: 0.8;
}

.home-introduction {
  padding-bottom: 5%;
}

.home-container {
  padding: 6% 10% 6% 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.home-slideshow {
  width: 600px;
  height: 500px;
  position: relative;
}
.home-slideshow-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

#home-explanation {
  background-color: var(--second);
  padding: 0 12% 0 12%;
}
#home-explanation h2 {
  font-size: 56px;
  color: var(--first);
  font-family: "Archivo", sans-serif;
  font-weight: 800;
  padding: 2% 0 5% 0;
}
#home-explanation h4 {
  font-size: 28px;
  font-family: "Mukta", sans-serif;
  font-weight: 500;
  color: black;
}
#home-explanation p {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}
#home-explanation img {
  width: 200px;
  height: 200px;
  border-radius: 4%;
}

#home-offer {
  background-color: var(--third);
}

#home-offer .row img {
  height: 400px;
}

#home-offer h2 {
  font-size: 56px;
  color: var(--first);
  font-family: "Archivo", sans-serif;
  font-weight: 800;
  padding: 3% 0 5% 0;
}
#home-offer .row .card {
  margin: 0 5% 5% 5%;
}
.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
}

.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}

footer {
  color: #fff;
  background: var(--first);
  padding: 2% 0 2% 0;
}
footer .container a {
  color: #fff;
}

footer p {
  margin-bottom: 0;
}
